<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/admin/createuniversity.css" />
  </head>
  <body>
    <div class="country_selection">
      <form class="countryData" enctype="multipart/form-data" method="post">
        <p>Write the Counrty Name</p>
        <input
          id="countryName"
          type="text"
          placeholder="country name"
          required
        />

        <div class="image-div">
          <img id="display_img" src="/img/image.jpg" alt="cover" />
          <input
            required
            type="file"
            accept="image/jpg, image/png, image/jpeg"
            id="file"
            name="avatar"
          />
          <button type="button">
            <label for="file">Upload an image</label>
          </button>
        </div>

        <input disabled id="submit-id" type="submit" value="SAVE" />
        <button type="button" class="btn">
          <a href="/admin/universityform">NEXT</a>
        </button>
      </form>
    </div>

    <script>
      let image_input = document.querySelector("#file");
      let submitBtn = document.querySelector("#submit-id");
      let countryName = document.querySelector("#countryName");

      let reader = new FileReader();

      image_input.addEventListener("change", function () {
        if (this.files && this.files[0]) {
          let display_image = document.querySelector("#display_img");
          reader.addEventListener("load", function () {
            display_image.setAttribute("src", reader.result);
          });

          reader.readAsDataURL(this.files[0]);
        }
      });

      const checkEnableButton = () => {
        submitBtn.disabled = !(countryName.value && image_input.files[0]);
      };

      countryName.addEventListener("change", checkEnableButton);
      image_input.addEventListener("change", checkEnableButton);
    </script>
  </body>
</html>
