<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/admin/createuniversity.css" />
  </head>
  <body>
    <div class="headline">
      <p>Create University</p>
    </div>

    <div class="form">
      <form enctype="multipart/form-data" action="" method="post">
        <div class="varsity-basic-details">
          <div class="cover-page">
            <div><img id="display_img" src="/img/image.jpg" alt="cover" /></div>

            <input
              type="file"
              accept="image/jpg, image/png, image/jpeg"
              id="file"
              name="avatar"
            />
            <button type="button">
              <label for="file">Upload an image</label>
            </button>
          </div>

          <div class="information-details">
            <div class="rank size">
              <h3>Rank</h3>
              <input
                id="rank"
                type="number"
                placeholder="rank number"
                required
              />
            </div>

            <div class="type size">
              <h3>Type</h3>
              <input
                id="type"
                type="text"
                placeholder="public or private"
                required
              />
            </div>

            <div class="location size">
              <h3>Location</h3>
              <input
                id="location"
                type="text"
                placeholder="full address"
                required
              />
            </div>
          </div>
        </div>

        <div class="introduction-part">
          <h3>Introduction</h3>

          <input
            id="universityName"
            type="text"
            placeholder="university name"
          />

          <textarea
            placeholder="write details about the university"
            class="intro"
            id="about"
            contenteditable="true"
          ></textarea>
        </div>

        <div class="program-for-graduate middle">
          <h3>Program For Graduate</h3>

          <select id="graduate-programs" autocomplete="off" multiple="multiple">
            <option>Computer Science</option>
            <option>Electrical Engineering</option>
          </select>
        </div>

        <div class="program-for-undergraduate middle">
          <h3>Program For UnderGraduate</h3>

          <select
            id="undergraduate-programs"
            autocomplete="off"
            multiple="multiple"
          >
            <option selected>Choose Department</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Electrical Engineering">
              Electrical Engineering
            </option>
          </select>
        </div>

        <div class="submit-option">
          <input disabled id="submit-id" type="submit" value="SAVE" />
          <div>
            <button type="button" class="btn">
              <a href="/admin/universityform">NEXT</a>
            </button>
          </div>
        </div>

        <!-- <div class="upload-any-data">
          <h3>Upload Required Prospectus</h3>
          <div class="read-pdf">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus, cumque nihil aspernatur quasi nam voluptatum maiores
            aliquid modi ab? Doloribus sunt accusantium non alias fugiat eius ad
            minus velit nihil!
          </div>
          <input type="file" accept=".pdf" />
        </div> -->
      </form>
    </div>

    <script>
      let coverImage = document.querySelector("#file");
      let rank = document.querySelector("#rank");
      let type = document.querySelector("#type");
      let address = document.querySelector("#location");
      let about = document.querySelector("#about");
      let u_name = document.querySelector("#universityName");
      let grad_program = document.querySelector("#graduate-programs");
      let under_grad_program = document.querySelector(
        "#undergraduate-programs"
      );
      let submitId = document.querySelector("#submit-id");

      const CheckSubmitButton = () => {
        submitId.disabled = !(
          (
            coverImage.files[0] &&
            rank.value &&
            type.value &&
            address.value &&
            u_name.value &&
            about.value &&
            under_grad_program.value !== "Choose Department"
          )
          //  &&
          // under_grad_program.options[under_grad_program.selectedIndex].value
        );
      };

      coverImage.addEventListener("change", CheckSubmitButton);
      rank.addEventListener("change", CheckSubmitButton);
      type.addEventListener("change", CheckSubmitButton);
      address.addEventListener("change", CheckSubmitButton);
      u_name.addEventListener("change", CheckSubmitButton);
      about.addEventListener("change", CheckSubmitButton);
      grad_program.addEventListener("change", CheckSubmitButton);
      under_grad_program.addEventListener("change", CheckSubmitButton);
    </script>
  </body>
</html>
