<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="country">
      <h2>Browse Your Favourite Country</h2>

      <div class="country_banner">
        <div class="country_container">
          <img src="./images/auses.png" />
          <div class="country_name">
            <p id="australia">Australia</p>
          </div>
        </div>
      </div>

      <div class="see_more">
        <p>see more countries</p>
      </div>
    </div>
  </body>
</html>
