*{

  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



#navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 90px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  background-color: #747070;
  box-shadow: 0 3px 4px rgba(146, 161, 175, 0.15);
}
#navbar .logo {
  font-size: 30px;
  font-weight: 600;
  justify-content: left;
  padding-left: 100px;
  padding-right: 100px;
  cursor: pointer;
  
}
.logo a{

  text-decoration: none;
  color: #000;
}

#navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  margin-left: 20%; /*need experiment*/

  justify-content: center;
}

@media (min-width : 1400px)
{
  #navbar ul{
    margin-left: 35%;
  }
}

@media (min-width : 1800px)
{
  #navbar ul{
    margin-left: 50%;
  }
}

#navbar ul li:nth-child(2),
#navbar ul li:nth-child(3),
#navbar ul li:nth-child(4) {
  margin: 20px 15px 20px 15px;
}
#navbar ul li:last-child a {
  border: 1px groove #f2f2f2;
  padding: 10px;
  background-color: beige;
  width: 100%;
 
}

#navbar ul li:last-child a:hover{

  border: 2px solid rgb(255, 255, 255);
}
@media screen and (min-width : 1300px)
{
  #navbar ul li:last-child a{
    margin-left: 30px;
  }
}

#navbar ul li:last-child {
  margin: 20px 5px 20px 10px;
}
#navbar ul li:last-child a {
  color: rgb(0, 0, 0);
}
#navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
#navbar ul li:not(:last-child) a {
  color: #000000;
}

/* nav ul li:nth-child(3) a:hover {
    background-color: rgb(241, 245, 248);
    padding: 15px;
  } */

#navbar .menu-btn {
  color: #000000;
  font-size: 22px;
  cursor: pointer;
  border: 1px solid rgb(171, 166, 166);
  padding: 10px;
  border-radius: 4px;
  display: none;
  margin-right: 20px;
}

input[type="checkbox"] {
  display: none;
}

.closebtn {
  display: none;
}
@media (max-width: 700px) {
  #navbar .logo {
    padding-left: 15px;
  }
  #navbar {
    padding: 0;
  }
}

@media (min-width: 700px) {
  #navbar {
    padding: 0px 40px 0px 0px;
  }
}
@media (min-width: 1190px) {
  #navbar {
    padding: 0px ;
  }
}

@media (max-width: 1190px) {
  #navbar {
    justify-content: space-between;
    
  }
  #navbar .menu-btn {
    display: block;
  }
  #navbar ul li:last-child a {
    border: none;
    background: none;
  }

  #navbar ul {
    position: fixed;
    top: 90px;
    right: -100%;
    color: rgb(19, 18, 18);
    background-color: rgb(230, 230, 216);
    height: 45vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.4s ease;
    z-index: 1;
  }

  #navbar ul li:not(:first-child) {
    width: 100%;
    margin: 30px 0;
  }

  #navbar ul li a {
    font-size: 20px;
    color: #000000;
    /* transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  }

  .closebtn {
    display: block;
    text-align: right;
    font-size: 18px;
  }
  #navbar ul li:not(:first-child) a:hover {
    border: 1px groove #f2f2f2;
    padding: 10px;
    background-color: beige;
    width: 100%;
    
  }
  #navbar ul li:last-child {
    background: none;
  }
  #navbar ul li:last-child a {
    color: #000000;
  }

  #box_sign {
    border: none;
  }
  #click:checked ~ ul {
    right: 0;
  }


}


@media screen and (min-width : 1190px)
{
  #navbar ul li a:hover{

    background-color: #313131;
    font-weight: 500;
    transition: 0.5s;
    color: #f1f1f1;
    
  }
}

/* first div */

.dynamic{

  width: 100%;
  height: 70vh;
  background-color: #ddd;
  
}

.slideshow_container{

  
  position: relative;
  margin: auto;
}

.slideshow_container .singleSlide{
  display: none;
}
.singleSlide img{
  vertical-align: middle;
  height: 70vh;
}
 .dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #cfcece;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  padding-bottom: 20px;
}

.active {
  background-color: #444444;
}

/* getting ready for animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media screen and (max-width :600px)
{
  .dynamic{
    height: 50vh;
    margin-bottom: 20px;
  }
  .singleSlide img{

    height: 50vh;
  }
  .dot{
    width: 15px;
    height: 6px;
    border-radius: 80%;
  }
}
@media screen and (max-width :400px)
{
  
}

/* second div */

.help_section{

  padding: 40px 100px;

}

.help_section .header_part{

  border: 1px solid rgb(0, 0, 0);
  background-color: salmon;
  padding: 12px 20px;
  width: 500px;
  display: block;
  margin: 20px auto;
  
  
}
.header_part p{

  font-size: 1.333rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
}

.help_section .heading{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.heading .child{

  width: 33.33%;
  margin: 20px 0;
 
  
}

.child img{

  width: 300px;
  display: block;
  margin: 0 auto;
}

.child .content{

  display: flex;
  justify-content: center;

}

.child p{

  display: block;
  margin:  0 auto;
  padding: 12px 30px;
  text-align: center;
}
@media screen and (max-width :1200px)
{
  .child img{

    width: 150px;
  }
}
@media screen and (max-width :900px)
{
  .child p{
    
    padding: 12px 5px;
  }
}

@media screen and (max-width :800px)
{
  

  .help_section .heading{
    display: block;
  }
  .heading .child{
    width: 100%;
    
  }
  .child p{
    text-align: justify;
    padding-left: 80px;
    padding-right: 80px;
  }

  .help_section .header_part{

    width: 300px;
  }
  .header_part p{
    font-size: 1.025rem;
  }
}
@media screen and (max-width :600px)
{
  .help_section {

    padding: 40px 15px;
  }
  .help_section .header_part{

    margin: 10px 0;
    width: 250px;
    padding: 10px;
  }
  
  .child img{

    width: 180px;
    margin: 10px 0 0 0;

  }

  .child .content{
   display: block;


  }
  .content h3{
   
   margin-left: 5px;
   
  }
  .child p{

    margin: 0;
    padding: 5px;

  }
}

/*evebts*/

.events{

  padding: 20px 100px;
}
.events h2{

  font-family: Arial, Helvetica, sans-serif;
}
.events .events_part{

  margin: 20px 0;

}

.events_part p{

  font-size: 1.333rem;
  text-align: justify;
 
  
}
.events_part .event_banner{

  margin: 20px 0;
  
 
}

.events .event_article{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 


}
.event_article .article{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  margin: 20px 0;
  cursor: pointer;
 
 
}


.article .heading{

  margin: 20px 10px 10px 10px;
}

.article .child_heading{

  margin: 5px 10px 10px 10px;
 
}

.child_heading p{

  font-size: 1.22rem;
  font-weight: 550;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.article .date_part{

  margin: 5px 10px 10px 10px;
  color: rgb(61, 61, 61);
  float: right;
}

@media screen and (max-width :769px)
{
  .events {
    padding: 20px 15px;
  }
  .events_part p{
    margin: 10px 0px;
  }
  
}

@media screen and (max-width :450px)
{
  .events_part p{

    font-size: 1rem;
  }
 
}

@media screen and (max-width :800px)
{
 
  .child_heading p{

    font-size: 1rem;
  }
}
@media screen and (max-width :800px)
{
  .event_article .article{
     
    width: 49%;
  }
}

@media screen and (max-width :400px)
{
  .event_article .article{
     
    width: 100%;
  }
}
/* browse country */
.country{

  padding: 20px 100px;
}
.country h2{
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.country .country_banner{

  display: flex;
  justify-content: center;

}

.country .country_banner2{

  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.country .country_banner3{

  display: none;
  justify-content: center;
  margin: 10px 0;
}
.country_banner .country_container{

  width: 30%;


}
.country_banner2 .country_container{
  width: 30%;
}

.country_banner3 .country_container{
  width: 30%;
}

.country_container img{

  border-radius: 5%;
  width: 80px;
  display: block;
  margin: 10px auto 8px auto;
}
.country_name p{

  text-align: center;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.see_more{

  display: flex;
  justify-content: center;
  
}
.see_more p{

  font-size: 1.2333rem;
  font-weight: 550;
  cursor: pointer;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px 0;
}

@media screen and (max-width :769px)
{
  .country{

    padding: 20px 15px;
  }
}
@media screen and (max-width :550px)
{
  .country_banner .country_container{

    width: 20%;
  }

  .country_banner2 .country_container{

    width: 20%;
  }
  .country_banner3 .country_container{
    width: 20%;
  }
  .country_container img{
    width: 60px;
  }
  .country_name p{

    font-size: 15px;
  }
  .see_more p{
    font-size: 1rem;
  }
}

@media screen and (max-width :400px)
{
  .country_container img{
    width: 50px;
  }
  .country_name p{
    font-size: 13px;
  }
}

/* comments */

.comment{

  padding: 50px 20px;
  width: 100%;
  background-color: #f1f1f1;
}

.comment .first_comment{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 12px 15px;
  background-color: #ffffff;
  width: 40%;
  display: block;
  margin: 0 auto;
}

.first_comment .first_comment_card{

  display: flex;
}
.first_comment_card .profile_left{

  flex: 45%;
}
.first_comment_card .profile_right{

  flex: 55%;
  padding: 15px 10px 5px 5px;
}

.profile_left img{

  border-radius: 40%;
  width: 140px;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
.profile_right h3{

  font-size: 1.333rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 10px 5px 0;
}
.profile_right .place{

  font-size: 1.1222rem;
  color: #747070;
  font-weight: 550;
  margin-left: 5px;

}

.profile_right .university{

  font-size: 1.0444rem;
  color: rgb(138, 136, 136);
  font-weight: 550;
  margin: 5px;
}

.first_comment .paragraph{

  padding: 14px 15px;
}

.paragraph p{

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  text-align: justify;
  font-size: 1.1222rem;
}

.comment .more_comment
{
  display: flex;
  margin: 40px 0;
}

.more_comment .left_comment{

  flex: 50%;
  margin-top: 20px;
}
.left_comment .second_comment{

  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 12px 15px;
  background-color: #ffffff;
  width: 80%;
}

.second_comment .second_comment_card{

  display: flex;

}
.second_comment_card .profile_left2{

  flex: 45%;
}
.second_comment_card .profile_right2{

  flex: 55%;
}

.profile_left2 img{

  width: 140px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
  padding: 10px 0;
  
}
.profile_right2 h3{

  font-size: 1.1333rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 35px 10px 5px 0;
  cursor: pointer;
}

.profile_right2 .place2{

  font-size: 1.1222rem;
  color: #747070;
  font-weight: 550;
  margin-left: 5px;
  margin-top: 8px;
}

.profile_right2 .university2{

  font-size: 1.0444rem;
  color: rgb(138, 136, 136);
  font-weight: 550;
  margin: 8px 5px;
}
.second_comment .paragraph{

  padding: 14px 15px;

}

.more_comment .right_comment{

  flex: 50%;
  margin-top: 20px;
}

.right_comment .second_comment{

  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 12px 15px;
  background-color: #ffffff;
  width: 80%;
}
@media screen and (max-width :1100px)
{
  .comment .first_comment{
    width: 80%;
  }
}

@media screen and (max-width :769px)
{
 .comment{

  padding-left: 15px;
  padding-right: 15px;
 }
  .comment .first_comment{
    width: 90%;
  }
  .profile_left img{
    width: 120px;
    
  }
  .profile_right h3{

    font-size: 1.1333rem;
  }
  .profile_right2 h3{

    font-size: 1.1333rem;
  }


  .comment .more_comment{

    display: block;
  }
  .more_comment .left_comment{

    width: 100%;
  }
  .more_comment .right_comment{
    
    width: 100%;
  }
  

 
}



@media screen and (max-width :954px)
{
  .left_comment .second_comment{

    width: 90%;
  }
  .right_comment .second_comment{
    width: 90%;
  }
  .profile_left2 img{
    width: 120px;
  }
}

@media screen and (max-width :450px)
{

  .left_comment .second_comment{
    width: 100%;
  }
  .right_comment .second_comment{
    width: 100%;
  }

  .comment .first_comment{
    width: 100%;
  }
  .more_comment .left_comment{
    padding-bottom: 10px;
  }

  .profile_left img{

    margin: 0;
  }
  .profile_left2 img{

    margin: 0;
  }

  .profile_right h3{

    font-size: 1rem;
  }

  .profile_right2 h3{
    font-size: 1rem;
  }

  .profile_right .place{
    
    font-size: 1rem;
  }

  .profile_right2 .place2{
    font-size: 1rem;
  }

  .profile_right .university{
    font-size: 1rem;
  }

  .profile_right2 .university2{
    font-size: 1rem;
  }

  .paragraph p{

    font-size: 15px;
  }
}



/*footer*/

