<section class="container">
  <h2 class="title">Article</h2>
  <div class="lower_title flex justify_between">
    <p class="subtitle">FREE INFORMATION! BEST DEALS & OFFERS!</p>
    <span class="more">MORE</span>
  </div>
  <div class="article-box flex">
    <div class="image-box">
      <img
        src="http://en.sejong.ac.kr/_res/sejong/eng/img/SejongStory_img_02.jpg"
        alt=""
      />
    </div>
    <div class="title-box">
      <ul>
        <li class="article-li">
          <p class="article-title active_article">
            Sejong University Marks 41st in 2022 THE Asia University Rankings
          </p>
          <div class="sub_article active_article">
            <p>
              The un iversity placed 41st in Asia, making top 50 in the
              continent, according to THE Asia University Rankings released on
              June 1st, 2022 by the Times Higher Education.
            </p>
            <div>
              <p>Read more</p>
            </div>
          </div>
        </li>
        <li class="article-li">
          <p class="article-title">
            Sejong University Marks 41st in 2022 THE Asia University Rankings
          </p>

          <div class="sub_article">
            <p>
              The un iversity placed 41st in Asia, making top 50 in the
              continent, according to THE Asia University Rankings released on
              June 1st, 2022 by the Times Higher Education.
            </p>
            <div>
              <p>Read more</p>
            </div>
          </div>
        </li>
        <li class="article-li">
          <p class="article-title">
            Sejong University Marks 41st in 2022 THE Asia University Rankings
          </p>

          <div class="sub_article">
            <p>
              The un iversity placed 41st in Asia, making top 50 in the
              continent, according to THE Asia University Rankings released on
              June 1st, 2022 by the Times Higher Education.
            </p>
            <div>
              <p>Read more</p>
            </div>
          </div>
        </li>
        <li class="article-li">
          <p class="article-title">
            Sejong University Marks 41st in 2022 THE Asia University Rankings
          </p>

          <div class="sub_article">
            <p>
              The un iversity placed 41st in Asia, making top 50 in the
              continent, according to THE Asia University Rankings released on
              June 1st, 2022 by the Times Higher Education.
            </p>
            <div>
              <p>Read more</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- <li class="article-li">
    <p class="article-title">Title 01</p>
    <p >sub title</p>
    <div>
      <p>Read more</p>
    </div>
    
   
  </li> -->

<script>
  function change(x) {
    document.getElementById("title").className += "active_article";
    document.getElementById("sub-title").className += "active_article";
  }
</script>
