<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/user/navbar.css" />
    <link rel="stylesheet" href="/css/common.css " />

    <title>Document</title>
  </head>
  <body>
    <header>
      <article class="flex align_center">
        <h1 class="logo">
          <a href="/eng"><span>Bahire Poralekha</span></a>
        </h1>
        <nav>
          <ul class="nav_list">
            <li class="nav_item">
              <a href="#;" title="Article">Article </a>
            </li>

            <li class="nav_item">
              <a href="#;" title="University"> University </a>
            </li>

            <li class="nav_item">
              <a href="#;" title="Admissions">Gallery</a>
            </li>

            <li class="nav_item">
              <a href="#;" title="Admissions">About Us</a>
            </li>
          </ul>
        </nav>
        <div class="login">
          <a href="#;" id="menu-163" title="Util" class="gnb-hide">Log in</a>
        </div>
      </article>

      <div class="menu_bg"></div>
    </header>
  </body>
</html>
