<header class="header">
  <article class="flex align_center">
    <h1 class="logo">
      <a href="/"><span>Bahire Poralekha</span></a>
    </h1>
    <nav>
      <ul class="nav_list">
        <li class="nav_item">
          <a href="#;" title="Blog">Blog </a>
        </li>

        <li class="nav_item">
          <a href="#;" title="Country"> Country </a>
        </li>

        <li class="nav_item">
          <a href="#;" title="Gallery">Gallery</a>
        </li>

        <li class="nav_item">
          <a href="#;" title="About">About Us</a>
        </li>
      </ul>
    </nav>
    <div class="login flex">
      <a href="#;" title="login" class="gnb-hide">Log in</a>
    </div>
  </article>

  <div class="menu_bg"></div>
</header>
