* {
  scroll-behavior: smooth;
}

/* artcle Banner */

/* notice section */
.article-list {
  display: flex;
  padding-block: min(20vh, 10rem);
  gap: 20px;
}

.article-list .article-list-view {
  flex: 75%;
  margin: 0 15px;
}

.article-list .content-section {
  flex: 25%;
  border: 1px dotted black;
  border-style: ridge;
}

.line {
  display: block;
  padding: 0 0 20px 0;
  margin-bottom: 20px;
  width: 100%;
}
.b-line {
  border-bottom: 1px solid #000;
}
.e-line {
  border-bottom: 1px solid #000;
}

/* all cards */
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-container a {
  text-decoration: none;
  color: #000;
}
.article-card {
  background-color: #fff;
  /*   border-radius: 10px; */
  /*   box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
  width: 350px;
  margin: 10px 0;
  cursor: pointer;
}

.article-card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}
.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px 0px;
  min-height: 80px;
  font-family: "Times New Roman", Times, serif;
}

.card-details .article-title {
  margin: 10px 0 10px;
  font-size: 1.22rem;
  font-weight: 600;
}

.card-details .description {
  font-size: 13px;
}

.time {
  margin-top: 5px;
  width: 100%;
}

.time p {
  float: right;
  color: #545d7a;
  font-size: 12px;
}

.tag-color-teal {
  background-color: #47bcd4;
}
.tag-color-purple {
  background-color: #5e76bf;
}

.tag-color-pink {
  background-color: #cd5b9f;
}

.article-card:hover img {
  transform: scale(1.3);
  /* padding-bottom: 22px; */
}

.article-card:hover .article-title {
  color: #545d7a;
}
.article-card:hover .card-details p {
  color: #545d7a;
}
button {
  width: 80%;
  border: 2px dotted teal;
  border-style: ridge;
  padding: 6px 0;
  background: none;
  cursor: pointer;
}
button:hover {
  background: #008080;
  color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
}
.active {
  border-bottom: 2px solid red;
}
.left {
  width: 5%;
  margin-top: var(--margin-top);
}
.center {
  width: 15%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-top: var(--margin-top);
  padding-right: 1px;
  padding-left: 5px;
}

.internal {
  width: 48px;
  display: inline-block;
  text-align: center;
  padding: 6px 0;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.internal:hover {
  background-color: #ddd;
  text-decoration: none;
  color: #000;
}
.right {
  width: 5%;
  margin-top: var(--margin-top);
}

.character {
  border-right: 0.05em solid;
  animation: caret 2s steps(1) infinite;
}
.fadedown {
  opacity: 0;
  transform: translateY(3rem);
}

.fadeup {
  opacity: 0;
  transform: translateY(3rem);
  animation: Up 2s ease 1s forwards;
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
@keyframes Up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
