* {
  scroll-behavior: smooth;
}

/* artcle Banner */

.noitce-container {
  position: relative;
  width: 100%;
}
.noitce-container img {
  background-repeat: no-repeat;
  width: 100%;
}

.noitce-container .left_div {
  width: 80%;
  padding: 0px 0px 0px 100px;
  position: absolute;
  top: 25%;
  left: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.head p {
  font-size: 2.3333rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #f2f2f2;
}

.child p {
  font-size: 1.2555rem;
  text-align: justify;
  /* margin: 30px 0; */
  color: #f2f2f2;
  font-weight: bold;
}

.left_div button {
  position: relative;
  width: 220px;
  color: #fff;
  font-size: 25px;
  padding: 16px;
  background-color: rgba(30, 20, 42, 0.762);
  border-radius: 10px;
  transition: all 0.5s;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.left_div button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -10px;
  transition: 0.5s;
}

.left_div button:hover {
  padding-right: 25px;
  /* padding-left: 8px; */
  border: 1px solid #fff;
}
.left_div button:hover:after {
  opacity: 1;
  right: 15px;
}

.left_div a {
  text-decoration: none;
  color: #f2f2f2;
}

@media screen and (max-width: 900px) {
  .noitce-container .left_div {
    width: 90%;
  }
}

@media screen and (max-width: 869px) {
  .head p {
    font-size: 1.3333rem;
  }
  .child p {
    font-size: 1rem;
  }
  .left_div button {
    font-size: 16px;
    width: 180px;
  }
}

@media screen and (max-width: 600px) {
  .noitce-container .left_div {
    padding: 10px 5px;
  }

  .noitce-container img {
    height: 350px;
  }

  .left_div button {
    padding: 10px 15px;
    width: 120px;
  }

  .left_div a {
    font-size: 1rem;
    font-weight: normal;
  }

  .left_div button:after {
    top: 8px;
  }
}

/* notice section */
.article-list {
  display: flex;
  padding-block: min(20vh, 10rem);
  gap: 20px;
}

.article-list .article-list-view {
  flex: 75%;
  margin: 0 15px;
}

.article-list .content-section {
  flex: 25%;
  border: 1px dotted black;
  border-style: ridge;
}

.line {
  display: block;
  padding: 0 0 20px 0;
  margin-bottom: 20px;
  width: 100%;
}
.b-line {
  border-bottom: 1px solid #000;
}
.e-line {
  border-bottom: 1px solid #000;
}

/* all cards */
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-container a {
  text-decoration: none;
  color: #000;
}
.article-card {
  background-color: #fff;
  /*   border-radius: 10px; */
  /*   box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
  width: 350px;
  margin: 10px 0;
  cursor: pointer;
}

.article-card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}
.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px 0px;
  min-height: 80px;
}

.card-details .article-title {
  margin: 10px 0 10px;
  font-size: 1.22rem;
  font-weight: 600;
}

.card-details .description {
  font-size: 13px;
}

.time {
  margin-top: 5px;
  width: 100%;
}

.time p {
  float: right;
  color: #545d7a;
  font-size: 12px;
}

.tag-color-teal {
  background-color: #47bcd4;
}
.tag-color-purple {
  background-color: #5e76bf;
}

.tag-color-pink {
  background-color: #cd5b9f;
}

.article-card:hover img {
  transform: scale(1.3);
  /* padding-bottom: 22px; */
}

.article-card:hover .article-title {
  color: #545d7a;
}
.article-card:hover .card-details p {
  color: #545d7a;
}
button {
  width: 80%;
  border: 2px dotted teal;
  border-style: ridge;
  padding: 6px 0;
  background: none;
  cursor: pointer;
}
button:hover {
  background: #008080;
  color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
}
.active {
  border-bottom: 2px solid red;
}
.left {
  width: 5%;
  margin-top: var(--margin-top);
}
.center {
  width: 15%;
  overflow: hidden;
  white-space: nowrap;
  margin-top: var(--margin-top);
  padding-right: 1px;
  padding-left: 5px;
}

.internal {
  width: 48px;
  display: inline-block;
  text-align: center;
  padding: 6px 0;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.internal:hover {
  background-color: #ddd;
}
.right {
  width: 5%;
  margin-top: var(--margin-top);
}
