.country {
  margin: auto;
  padding: 30px 0 0;
}

.country-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: #faf7f2;
}

.nation {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1400px;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}

.nation .each-country {
  position: relative;
  width: 275px;
  height: 275px;
  background: black;
  transition: 0.4s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 40px;
}

.nation:hover .each-country {
  transform: rotateY(25deg);
}

.nation .each-country:hover ~ .each-country {
  transform: rotateY(-25deg);
}

.nation .each-country:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 20px rgba(0, 0, 0, 0.5);
}

.nation .each-country .images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nation .each-country .images:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #3f3d3d, #000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

.nation .each-country:hover .images:before {
  opacity: 1;
}

.nation .each-country .images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nation .each-country a {
  text-decoration: none;
  color: #000;
}

.nation .each-country .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}

.nation .each-country .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 6px;
  font-size: 18px;
  transform: translateY(-200px);
  transition-delay: 0.3s;
}

.nation .each-country:hover .content h2 {
  transform: translateY(0px);
}
.nation .each-country .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}

.nation .each-country:hover .content p {
  transform: translateY(0px);
}
