header {
  transition: all 0.5s ease;
  height: 107px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: 300;
  width: -webkit-fill-available;
}

header a {
  margin: auto;
  color: white;
  text-decoration: none;
}

article {
  position: relative;
  max-width: 1800px;
  height: 100%;
  margin: auto;
  padding-top: 0;
}

.logo {
  margin: 0;
  display: inline-block;
}

nav {
  position: static;
  width: 50%;
  text-align: center;
  height: 107px;
  z-index: 20;
  max-width: 1280px;
  margin: 0 auto;
}

.login {
  position: absolute;
  right: 0;
  height: 100%;
  width: 5%;
}

.nav_list {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav_item {
  transition: opacity 0.25s ease-in-out;
  margin-bottom: 2px;
  display: flex;
  height: 100%;
  width: 25%;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.nav_item:hover {
  width: 100%;
  border-bottom: 1px solid teal;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.logo a:hover {
  color: white;
  text-decoration: none;
  opacity: 0.5;
}
.login a:hover {
  color: white;
  text-decoration: none;
}
.login:hover {
  background-color: teal;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: teal;
}

header:hover {
  background-color: black;
  opacity: 0.8;
}
