.text-center {
  text-align: center;
}

.background-yellow {
  background-color: lightyellow;
}

.justify-end {
  justify-content: flex-end;
}

.active,
.btn:hover {
  background-color: rgb(205, 255, 151);
  color: white;
}
