* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

label {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

input[type="submit"] {
  cursor: pointer;
}

.countries {
  display: flex;
  justify-content: center;
  width: 100%;
}

.head-countries {
  text-align: center;
  margin: 10px 0;
  font-size: 22px;
}
.countries .all-countries {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 20px;
  position: relative;
  overflow: hidden;
  resize: none;
  white-space: nowrap;
  background-color: #fff;
}

.all-countries button {
  text-align: center;
  background: none;
  border: 0.75px dotted rgb(114, 114, 114);
  padding: 6px 12px;
  font-size: 18px;
}

.countries i {
  cursor: pointer;
  margin: 20px 10px;
  display: none;
}
.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}

.headline p {
  width: 300px;
  height: auto;
  text-align: center;
  border-style: ridge;
  padding: 12px 10px;
  box-shadow: 0.8;
  box-shadow: 0px 15px 10px -15px #111;
}
.form {
  width: 100%;
  height: auto;
  margin: 30px 0;
}

.varsity-basic-details {
  width: 100%;
}
.varsity-basic-details .cover-page {
  width: 40%;
  display: block;
  margin: 30px auto;
}

.cover-page img {
  width: 100%;
}

.cover-page input {
  display: none;
}
.cover-page button {
  width: 100%;
  background: none;
  padding: 8px 0;
  border: 1px groove #ddd;
  border-top: none;
}

.varsity-basic-details .information-details {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.information-details .size {
  width: 33.33%;
  text-align: center;
}
.size h3 {
  padding: 10px 0;
}
.size input {
  padding: 5px 0;
  text-align: center;
  margin-bottom: 5px;
}

.introduction-part {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.middle {
  display: block;
  margin: 20px auto;
  text-align: center;
}

.introduction-part h3 {
  margin-bottom: 20px;
}

.introduction-part input {
  width: 30%;
  padding: 8px 12px;
  margin-bottom: 15px;
  text-align: center;
}

.introduction-part .intro {
  resize: none;
  overflow: hidden;
  width: 80%;
  height: 200px;
  padding: 20px 20px;
  text-align: justify;
  border: 1px solid #ccc;
}
.middle textarea {
  width: 40%;
  padding: 0.875rem 1rem;
  margin: 20px 0;
  border: 1px solid black;
}
.middle option {
  text-align: center;
  margin: 10px 0;
}
.upload-any-data {
  text-align: center;
}
.upload-any-data h3 {
  margin: 20px 0;
}

.upload-any-data .read-pdf {
  width: 40%;
  height: 200px;
  margin: 20px auto;
  resize: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.country_selection {
  margin: 40px auto;
  padding: 80px auto;
  position: relative;
  max-width: 500px;
}

.country_selection p {
  text-align: center;
  font-size: 1.33rem;
}

.countryData p {
  text-align: center;
  margin-bottom: 20px;
}

.countryData input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 20px;
  text-align: center;
}

.countryData .countryabout {
  resize: none;
  overflow: hidden;
  width: 100%;
  height: 300px;
  padding: 20px 20px;
  text-align: justify;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.countryData .image-div {
  width: 100%;
}

.image-div img {
  width: 100%;
}

.image-div input {
  display: none;
}
.image-div button {
  width: 100%;
  padding: 10px 12px;
}

.country_selection input[type="submit"] {
  margin-top: 10px;
}

.country_selection .btn {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  background: none;
}

.submit-option {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.submit-option input {
  width: 40%;
  padding: 10px 12px;
  margin: 20px 0;
}
.submit-option .btn {
  width: 40%;
  padding: 10px 12px;
}

/* .prospectus_view input {
  display: none;
} */
.category {
  border: 2px solid #ccc;
  display: flex;
  width: 40%;
  margin: 0 auto;
}
.category #pagecount {
  margin: 10px 12px;
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 5px;
  font-weight: bold;
}
.category #count {
  margin-left: 5px;
}
.category #totalpage {
  margin-left: 5px;
}
.category button {
  background-color: transparent;
  margin: 10px 12px;
  cursor: pointer;
  padding: 5px;
}
.line {
  border-bottom: 4px solid #000;
  display: block;
  width: 40%;
  margin: 20px auto 0 auto;
}

.vertical-line {
  border-left: 3px solid black;
  width: 1px;
  display: block;
  height: 45px;
  margin: 0 10px;
}

.prospectus_info {
  margin: 80px 0 40px 0;
  padding: 40px 0;
}
.prospectus_info .next {
  width: 40%;
  border: none;
  background: transparent;
  margin: 5px 0;
}

.prospectus_view canvas {
  width: 40%;
  height: 300px;
  margin: 0 0 30px 0;
  border: 1px groove #ccc;
}
.prospectus_view button {
  width: 40%;
  padding: 10px 12px;
  text-align: center;
  background: #ddd;
  border: none;
  margin: 20px 0;
}

.prospectus_view input[type="text"] {
  width: 40%;
  padding: 10px 12px;
  margin: 20px 0;
  text-align: center;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.alert-warning {
  text-align: center;
}

.pdf-view {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pdf-view iframe {
  width: 80%;
  height: 600px;
}
.button_container {
  width: 100%;
  text-align: center;
}

.button_container button {
  width: 60%;
  background-color: rgb(0, 188, 188);
  margin: 20px 0;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  cursor: default;
}

/* for the DOM Creation element in prospectus page */
.dept_child {
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.dept_child_update {
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.dept_child_update .dept_name {
  padding: 9px 12px;
  font-size: 18px;
  width: 20%;
  border: 0.75px dotted black;
  border-style: ridge;
}
.dept_name {
  padding: 9px 12px;
  font-size: 18px;
  width: 40%;
  border: 0.75px dotted black;
  border-style: ridge;
}
.dept_delete {
  padding: 10px 12px;
  text-decoration: none;
  color: #000;
  /* font-size: 18px; */
  /* transform: rotate(90deg); */
  margin-left: -35px;
  cursor: pointer;
}

.dept_child_update .dept_delete {
  padding: 10px 12px;
  text-decoration: none;
  color: #000;
  /* font-size: 18px; */
  /* transform: rotate(90deg); */
  margin-left: -40px;
  cursor: pointer;
}
