<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/user/signup.css" />
  </head>
  <body>
    <nav id="navbar">
      <div class="logo"><a href="#">LOGO</a></div>
    </nav>

    <div class="" id="login_section">
      <div id="firstContent" class="content">
        <div id="register1" class="registartion_page">
          <h2>Sign in To Your Account</h2>
          <p>Required Information</p>

          <form class="LoginFrom" action="" method="post">
            <% if(typeof message != 'undefined') { %>

            <label>
              <span
                id="msg"
                style="
                  color: rgb(238, 0, 0);
                  margin: 1em 0;
                  padding: 0px 10px 25px 30px;
                  font-weight: bold;
                "
                ><%= message %></span
              >
              <br />
              <br />
            </label>

            <% } %>
            <label for="Email"><b class="email">Email Address</b></label>
            <input
              id="uemail"
              type="text"
              placeholder="Enter Email Address"
              name="uemail"
            />

            <label for="Password"><b class="pass">Password</b></label>
            <input
              id="upass"
              type="password"
              placeholder="Enter Password"
              name="upassword"
            />

            <div class="submit">
              <button type="submit">Login</button>
            </div>
            <div class="container">
              <span class=""><a href="/reset">Forget Password ?</a></span>
            </div>
          </form>
        </div>

        <div id="another1" class="another_page">
          <h2 id="no_account">Don't Have a account ?</h2>

          <p id="sign_in_reg">Register For free and start your jourey</p>

          <button id="register_btn">
            <a href="/register">Register for free</a>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
